<div class="container">
  <br>
  <h1>Pipe</h1>
  <hr>
  <table class="table table-hover">
    <thead class="thead-inverse">
      <tr>
        <th>Variable</th>
        <th>Pipe</th>
        <th>Producto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{Nombre}} </td>
        <td>uppercase</td>
        <td>{{Nombre | uppercase }} </td>
      </tr>
      <tr>
        <td>{{Nombre}} </td>
        <td>lowercase</td>
        <td>{{Nombre | lowercase }} </td>
      </tr>
    </tr>
      <tr>
        <td>{{Nombre}} </td>
        <td>titlecase</td>
        <td>{{Nombre | titlecase }} </td>
      </tr>
      <tr>
        <td>{{Nombre}} </td>
        <td>slice : 3</td>
        <td>{{Nombre | slice:3 }} </td>
      </tr>
      <tr>
        <td>{{Nombre}} </td>
        <td>slice : 0: 3</td>
        <td>{{Nombre | slice:0:3 }} </td>
      </tr>
      <tr>
        <td>{{arreglo}} </td>
        <td>slice : 1 : 5</td>
        <td>{{arreglo | slice:1:5}} </td>
      </tr>
      <tr>
        <td>{{PI}} </td>
        <td>number:'3.0-0'</td>
        <td>{{PI | number:'3.0-0'}} </td>
      </tr>
      <tr>
        <td>{{PI}} </td>
        <td>number:'1.0-2'</td>
        <td>{{PI | number:'1.0-2'}} </td>
      </tr>
      <tr>
        <td>{{A}} </td>
        <td>percent</td>
        <td>{{A|percent}} </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <br>
  <h3>Slice</h3>
  <hr>
  <ul>
    <li *ngFor="let item of arreglo | slice:5:15">{{item}} </li>
  </ul>
</div>